		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color: white;">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<%= link_to image_tag("logo.png", width: '150', height: '50', alt: 'Site Logo', class: "logo") ,root_url %>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#about">Conocenos</a>
						</li>
						<li class="dropdown">
	                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Catalogo <b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li><a href="#">Motor</a></li>
	                            <li><a href="#">Enfriamiento</a></li>
	                            <li><a href="#">Suspension</a></li>
	                            <li class="divider"></li>
	                            <li><a href="#">Afinaciones</a></li>
	                            <li><a href="#">Electrias</a></li>
	                            <li><a href="#">Frenos</a></li>
	                            <li><a href="#">Transmision</a></li>
	                            <li><a href="#">Fluidos</a></li>
	                        </ul>
                    	</li>
						<li>
							<a class="page-scroll" href="#search">Busqueda</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">Contacto</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">Iniciar sesión</a>
						</li>
						<li>
							<a><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						</li>
						<li>					
							<%= link_to "ADMIN", shoppe_path%>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>

			</nav> 
			<div style="">
